# Connecting to AZURE MS SQL server

In [5]:
import pyodbc 
import pandas as pd

## Login Details

In [6]:
server = 'anylogicworkflow.database.windows.net'
database = 'anylogicWorkflowDb'
username = 'anylogic_admin'
password = 'Login123$'
driver= '{ODBC Driver 13 for SQL Server}'

## Create Table

### Create simulationLookUpTable

In [8]:
conn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()
cursor.execute('''
 CREATE TABLE simulationLookUpTable (
        PrimaryKey INTEGER PRIMARY KEY,
        CaseName TEXT NOT NULL,
        Loaded BIT NULL);
               ''')
conn.commit()
conn.close()
print("Create Table")

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]There is already an object named 'simulationLookUpTable' in the database. (2714) (SQLExecDirectW)")

### Create Simulation Inputs

In [18]:
conn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()
cursor.execute('''
 CREATE TABLE simulationInputs(
        simulationCase INT NOT NULL,
        VariableName TEXT NOT NULL,
        SecondaryVariable TEXT NOT NULL,
        Value FLOAT NOT NULL);
               ''')
conn.commit()
conn.close()
print("Create Table")

Create Table

### Create Output Table

In [ ]:
conn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()
cursor.execute('''
 CREATE TABLE simulationOutputs(
        simulationCase INT NOT NULL,
        VariableName TEXT NOT NULL,
        SecondaryVariable TEXT NOT NULL,
        Value FLOAT NOT NULL);
               ''')
conn.commit()
conn.close()
print("Create Table")

## Show SQL Table

### Check batch loopkup table

In [27]:
conn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
query = 'SELECT * FROM simulationLookUpTable'
df = pd.read_sql(query,conn)
print(df)
conn.close()

    PrimaryKey          CaseName  Loaded
0            1   SimulationCase1   False
1            2   SimulationCase2   False
2            3   SimulationCase3   False
3            4   SimulationCase4   False
4            5   SimulationCase5   False
5            6   SimulationCase6   False
6            7   SimulationCase7   False
7            8   SimulationCase8   False
8            9   SimulationCase9   False
9           10  SimulationCase10   False
10          11  SimulationCase11   False
11          12  SimulationCase12   False
12          13  SimulationCase13   False
13          14  SimulationCase14   False
14          15  SimulationCase15   False

### Check simulation inputs

In [26]:
conn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
query = 'SELECT * FROM simulationInputs'
df = pd.read_sql(query,conn)
print(df)
conn.close()

    simulationCase VariableName SecondaryVariable  Value
0                1         MTTF        Equipment1  0.005
1                1         MTTF        Equipment2  0.005
2                1         MTTR        Equipment3  0.005
3                1         MTTR        Equipment4  0.005
4                2         MTTF        Equipment1  0.005
5                2         MTTF        Equipment2  0.005
6                2         MTTR        Equipment3  0.005
7                2         MTTR        Equipment4  0.005
8                3         MTTF        Equipment1  0.005
9                3         MTTF        Equipment2  0.005
10               3         MTTR        Equipment3  0.005
11               3         MTTR        Equipment4  0.005
12               4         MTTF        Equipment1  0.005
13               4         MTTF        Equipment2  0.005
14               4         MTTR        Equipment3  0.005
15               4         MTTR        Equipment4  0.005
16               5         MTTF        Equipment1  0.005
17               5         MTTF        Equipment2  0.005
18               5         MTTR        Equipment3  0.005
19               5         MTTR        Equipment4  0.005
20               6         MTTF        Equipment1  0.005
21               6         MTTF        Equipment2  0.005
22               6         MTTR        Equipment3  0.005
23               6         MTTR        Equipment4  0.005
24               7         MTTF        Equipment1  0.005
25               7         MTTF        Equipment2  0.005
26               7         MTTR        Equipment3  0.005
27               7         MTTR        Equipment4  0.005
28               8         MTTF        Equipment1  0.005
29               8         MTTF        Equipment2  0.005
30               8         MTTR        Equipment3  0.005
31               8         MTTR        Equipment4  0.005
32               9         MTTF        Equipment1  0.005
33               9         MTTF        Equipment2  0.005
34               9         MTTR        Equipment3  0.005
35               9         MTTR        Equipment4  0.005
36              10         MTTF        Equipment1  0.005
37              10         MTTF        Equipment2  0.005
38              10         MTTR        Equipment3  0.005
39              10         MTTR        Equipment4  0.005

## Add some Data Manually

In [4]:
# conn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
# cursor = conn.cursor()
# cursor.execute('''
#                 INSERT INTO Testing (Column1, Column2, Column3, Column4)
#                 VALUES
#                 (1,'ManualTest','ManualTest', 0),
#                 (2, 'ManualTest','ManualTest', 0)
#                 ''')
# conn.commit()
# conn.close()

## Upload a CSV to SQL table

### Import lookup csv

In [22]:
df2 = pd.read_csv("simulationLookUpTable.csv")
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in df2.iterrows():
    cursor.execute("INSERT INTO simulationLookUpTable (PrimaryKey, CaseName, Loaded) values(?,?,?)", row.PrimaryKey,  row.CaseName, row.Loaded)
cnxn.commit()
cursor.close()
print("Uploaded CSV")

Uploaded CSV

### Import input csv

In [24]:
df2 = pd.read_csv("simulationInputs.csv")
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in df2.iterrows():
    cursor.execute("INSERT INTO simulationInputs (simulationCase, VariableName, SecondaryVariable, Value) values(?,?,?,?)", row.simulationCase,  row.VariableName, row.SecondaryVariable, row.Value)
cnxn.commit()
cursor.close()
print("Uploaded CSV")

Uploaded CSV

## Clear Everything in SQL - KEEP Table

In [6]:
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
cursor.execute("TRUNCATE TABLE Testing")
cnxn.commit()
cursor.close()
print("Remove all data from table")

Remove all data from table

## Delete Table

In [4]:
conn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()
cursor.execute('''DROP TABLE Testing ;''')
conn.commit()
conn.close()
print("Table Deleted")

Table Deleted