In [11]:
import pymysql
import pandas as pd
#import pandas_profiling

## Turn SQL into pandas df

In [13]:
conn = pymysql.connect(host='192.168.1.105',user = 'user',passwd= 'password',db ='demo')
query = 'SELECT * FROM demo.employees'
df = pd.read_sql(query,conn)

print(df.tail(5))
df.describe()

    id last_name first_name email department   salary
79  80      this       this  this       this  12500.0
80  81      this       this  this       this  12500.0
81  82      this       this  this       this  12500.0
82  83      this       this  this       this  12500.0
83  84      this       this  this       this  12500.0

              id         salary
count  84.000000      84.000000
mean   42.500000   58601.190476
std    24.392622   51872.107541
min     1.000000   12500.000000
25%    21.750000   12500.000000
50%    42.500000   12500.000000
75%    63.250000  125000.000000
max    84.000000  130000.000000

## Get column names

In [17]:
conn = pymysql.connect(host='192.168.1.105',user = 'user',passwd= 'password',db ='demo')
mycursor = conn.cursor()
mycursor.execute("SELECT * FROM employees LIMIT 0")
colnames = [desc[0] for desc in mycursor.description]
print(colnames)

['id', 'last_name', 'first_name', 'email', 'department', 'salary']

## Write SQL query

In [20]:
conn = pymysql.connect(host='192.168.1.105',user = 'user',passwd= 'password',db ='demo')
mycursor = conn.cursor()
sql = "INSERT INTO employees (id, last_name,first_name,email,department,salary) VALUES (%s, %s, %s, %s, %s, %s)"
val = ("78", "test", "test", "test", "test", "50000")
mycursor.execute(sql, val)
conn.commit()